{erl_opts, [debug_info]}.
{deps_dir,"deps"}.
{erl_first_files, ["rest.erl"]}.
{deps, [{n2o, ".*", {git, "git://github.com/synrc/n2o", {tag,"master"}}},
        {kvs, ".*", {git, "git://github.com/synrc/kvs", {tag,"master"}}},
        {dec, ".*", {git, "git://github.com/erpuno/dec", {tag,"master"}}},
        {bpe, ".*", {git, "git://github.com/erpuno/bpe", {tag,"master"}}},
        {erp, ".*", {git, "git://github.com/erpuno/erp", {tag,"master"}}},
        {jsone, ".*", {git, "git://github.com/sile/jsone", {tag,"master"}}},
        {syn, ".*", {git, "git://github.com/ostinelli/syn", {tag,"master"}}},
        {cowboy, ".*", {git, "git://github.com/voxoz/cowboy2", {tag,"master"}}}]}.
