[
 {n2o, [{port,8005},
        {igor,"deps/n2o/src/protos"},
        {app,rest},
        {formatter,n2o_bert},
        {protocols,[n2o_heart,n2o_nitro,n2o_ftp]},
        {session,n2o_session},
        {origin,<<"*">>},
        {pickler,n2o_secret},
        {event,pickle}]},
 {kvs, [{dba,kvs_mnesia},
        {dba_st,kvs_stream},
        {schema, [kvs, kvs_stream ]} ]}
].
